#about {
    font-family: $default-font;
.left{
    .about-image {
        .about-img-1{
        position: relative;
       }
       .about-img-2{
          img {
            position: absolute;
            bottom: -900px;
            left: 250px;
            border: 7px solid $white-color;
            border-radius: 40px;
          }
       }
       .about-experience {
        img {
            position: absolute;
            animation: rotate 30s infinite linear;
            bottom: -550px;
            left: 420px;
            @keyframes rotate {
                from {
                  transform: rotate(0deg); // Start at 0 degrees
                }
                to {
                  transform: rotate(360deg); // End at 360 degrees
                }
              }
        }
       }
       }
    }
 .right{
        .about-content{
        .about-top{
                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.5em;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: $accent-color;
                    padding-left: 20px;
                    margin-bottom: 10px;
                }
                h1 {
                    font-size: 44px;
                    font-weight: 700;
                    color: $primary-color;
                    line-height: 50px;
                    margin-bottom: 20px;
                    span {
                        color: $accent-color;
                    }
                }
                p {
                    font-size: 16px;
                    color: $text-color;
                    line-height: 29px;
                    margin-bottom: 20px;
                }
            }
         .about-center{
            @include Flexible (flex-start,center,row,nowrap,50px);
             font-size: 16px;
             color: $primary-color;
             text-transform: capitalize;
             font-weight: 500;
             line-height: 40px;
             margin-bottom: 50px;
             i {
                font-size: 22px;
                color: $accent-color;
             }
        }
        .about_btn {
            .button {
                .book {
                    a {
                        @extend %default_btn;
                        &:hover {
                            @extend %hoverdefault_btn;
                        }
                        i {
                           @extend %btn_icon; 
                        }
                    }
                }
            }
        }
    }
    }
}
