#header {
    font-family: $default-font;
    background-color: $bg_color;
.navbar_menu {
    @include Flexible (center,center,row,nowrap,30px);
    margin: 10px 30px;
    padding: 10px 0;
    .left { 
        @include Flexible (center,center,row,nowrap,0);
        .logo_img {
            width: 180px;
            height: 80px;
            margin-right: 70px;
            
            img {
                @extend %base_img;
                object-fit: contain;
            }
        }
       .navbar {
        @include Flexible (center,center,row,nowrap,10px);
        margin-left: 50px;
        .nav_menu {
            @include Flexible (center,center,row,nowrap,50px);
            font-size: 16px;
            text-transform: capitalize;
            color: $primary-color;
            font-weight: 500;
            cursor: pointer;
            li {
                &:hover {
                    color: $accent-color;
                }
            }
            .home_menu {
                position: relative;
                   &:hover .home_menu__sub {
                    opacity: 1;
                    visibility: visible;
                 }  
                 &__sub{
                   @extend %sub_menu;
                
                }
            }
            .page_menu {
                &:hover .page_menu__sub {
                    opacity: 1;
                    visibility: visible;
                 }  
                &__sub {
                    @extend %sub_menu;
                    width: 210px;
                 }
            }
        }
       }
      
       }
       .right {
        @include Flexible (center,center,row,nowrap,0);
        margin-left: 150px;
        .book {
            @include Flexible (center,center,row,nowrap,0);
            a {
               @extend  %default_btn;
                
                &:hover {
                   @extend  %hoverdefault_btn;
                
                }
                i {
                    background-color: $white-color;
                    color: $accent-color;
                    border-radius: 100%;
                    width: 15px;
                    height: 15px;
                    font-size: 16px;
                    padding: 8px;
                }
            }
           }
    }
 }
}
