#hero_banner {
    background-color: $bg_color;
    padding-top: 5px;
    .hero {
        font-family: $default-font;
        .hero_content {
            padding: 0 0 30px 20px;
            border-bottom: 1px solid $borderbottom_color;
            margin-left: 50px;
    
            &__title {
                h1 {
                    @extend %title_h1;
                    color: $primary-color;
                }
                span {
                    color: $accent-color;
                }
                p {
                   @extend %title_p;
                    padding: 30px 0;
                }
            }
            .book {
                padding: 20px 0;
                i {
                    @extend  %btn_icon;
                }
                a {
                    @extend %default_btn;
                    &:hover {
                        @extend %hoverdefault_btn;
    
                    }
                }
            }
        }
        .review {
            margin-left: 50px;
            padding: 30px 0;
            text-transform: capitalize;
            p {
                font-size: 16px;
                color: $primary-color;
                span {
                    color: #FFA800;
                    i {
                        color: #FFA800;  
                    }
                }
            }
    
            
        }
    }
    
    .hero_right {
        .hero img {
            @include Flexible (center,center,row,nowrap,0);
           
            img {
                @extend %base_img;
                padding-top: 40px;
            }
        }
    }
}