$primary-color: #0E384C;
$secondary-color: #EFF8FF;
$text-color: #527282;
$accent-color: #1E84B5;
$white-color: #FFFFFF;
$divider-color: #FFFFFF1F;
$dark-divider-color: #0E384C1A;
$default-font: "Poppins", sans-serif;
$bg_color: #EFF8FF;
$borderbottom_color: #FFFFFF1F;
